<div class="login-container">
  <div class="login-box">
    <h1>Вход в систему</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input
          type="text"
          formControlName="username"
          placeholder="Имя пользователя"
          [class.error]="usernameControl?.invalid && usernameControl?.touched"
        />
        @if (usernameControl?.invalid && usernameControl?.touched) {
        <div class="error-message">
          {{ getUsernameErrorMessage() }}
        </div>
        }
      </div>

      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Пароль"
          [class.error]="passwordControl?.invalid && passwordControl?.touched"
        />
        @if (passwordControl?.invalid && passwordControl?.touched) {
        <div class="error-message">
          {{ getPasswordErrorMessage() }}
        </div>
        }
      </div>

      <div class="server-error-container">
        @if (error$ | async; as error) {
        <div class="error-message server-error">
          {{ error }}
        </div>
        }
      </div>

      <button
        type="submit"
        class="login-button"
        [disabled]="loginForm.invalid || (isLoading$ | async)"
      >
        @if ((isLoading$ | async) === false) { Войти } @if (isLoading$ | async)
        { Загрузка... }
      </button>
    </form>
  </div>
</div>
